{:min-bb-version "1.0.0"
 :deps {org.clojure/data.json {:mvn/version "2.4.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        lambdaisland/kaocha {:mvn/version "1.87.1366"}}
 :paths ["src" "test"]
 :tasks
 {:requires ([clojure.test :as t]
             [clojure.java.shell :refer [sh]])
  
  test
  {:doc "Run tests"
   :task (do
           (println "Running tests...")
           (require 'jina.core-test)
           (let [result (t/run-tests 'jina.core-test)]
             (println (format "Ran %d tests. %d failures, %d errors."
                             (+ (:pass result) (:fail result) (:error result))
                             (:fail result)
                             (:error result)))
             (when (pos? (+ (:fail result) (:error result)))
               (System/exit 1))))}
  
  kaocha
  {:doc "Run tests with Kaocha"
   :task (clojure "-M" "-m" "kaocha.runner")}
  
  repl
  {:doc "Start a REPL"
   :task (clojure "-M:repl")}
  
  clean
  {:doc "Clean build artifacts"
   :task (sh "rm" "-rf" "target" ".cpcache")}}}
