{:deps
 {
  org.clojure/clojure   {:mvn/version "1.12.0"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  lambdaisland/kaocha   {:mvn/version "1.87.1366"}
  metosin/malli         {:mvn/version "0.19.1"}
  clj-http/clj-http     {:mvn/version "3.13.0"}
  }

 :paths ["src" "test"]

 :aliases {:test {:extra-paths ["test"]
                  :main-opts   ["-m" "kaocha.runner"]}

           :repl {:main-opts ["-m" "clojure.main" "--repl"]}}}
